/* line 1, ../sass/styles.scss */
body {
  font-family: Helvetica Neue;
}

/* line 7, ../sass/styles.scss */
h1 {
  padding-top: 200px;
  text-align: center;
  color: #555555;
  font-size: 30px;
  font-weight: 100;
}

/* line 16, ../sass/styles.scss */
p {
  text-align: center;
  color: #555555;
  font-size: 20px;
  font-weight: 100;
}
